$body-background: #fff;

$body-font-family: 'Crimson Text', Palatino,Georgia,serif; 
$body-font-size: 1.125rem;
$global-weight-normal: 400;
$global-lineheight: 1.3334;
$body-font-color: $color-dark;

// Calligraphy custom
@font-face {
    font-family: 'better_signatureregular';
    src: url('../font/b_s-webfont.woff2') format('woff2'),
         url('../font/b_s-webfont.woff') format('woff'),
         url('../font/b_s-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-size: 2rem; // 2 * 16 = 32
    line-height: 1.25; // 1.25 * 32 = 40
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    
    @include larger-screen  {
        font-size: 3rem; // 3 * 16 = 48
        line-height: 1.1667; // 1.1667 * 48 = 56
    }
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3334;
    margin: 0 0 1rem 0;
    font-weight: 600;

    @include larger-screen {
        font-size: 2.25rem; // 2.25 * 16 = 36
        line-height: 1.1112; // 1.1112 * 36 = 40
    }
}

p {
    margin: 0 0 1rem;

    @include larger-screen {
        font-size: 1.5rem; // 1.5 * 16 = 24
    }
}

.font-calligraphy {
    font-family: 'better_signatureregular', cursive;
    font-weight: normal;
}

.font-calligraphy {
    font-size: 1.75rem;
    line-height: 1.1429;
    margin-bottom: 3rem;

    @include larger-screen {
        font-size: 3rem; // 3 * 16 = 48
        line-height: 1.1667; // 1.1667 * 48 = 56
    }
}

a {
    color: $color-dark;
    text-decoration: underline;
    text-decoration-style: dashed;
    &:hover {
        text-decoration-style: solid;
    }
}