// Globals
$color-dark: #1c1c1c;
$color-light: #f5f5f5;
$color-dark--highlight: #2c2c2c;
$breakpoint-large: 45.5rem; // 45.5 * 16 = 728


// Mixins
@mixin larger-screen {
  @media (min-width: #{$breakpoint-large}) {
    @content;
  }
}

//Imports
@import 'vendor/_normalize.scss';
@import 'partials/_typography.scss';
@import 'partials/_buttons.scss';


//Styles
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    background: $body-background;

    font-family: $body-font-family;
    font-weight: $global-weight-normal;
    font-size: $body-font-size;
    line-height: $global-lineheight;
    color: $body-font-color;
}

.hero {
    text-align: center;
    color: $color-light;
    background: $color-dark url(../img/moni-szabi-cover.jpg) top center;
    background-size: cover;
    height: 83vh;
    padding-top: 6em;

    @media screen and (orientation: landscape) {
        background-image: url(../img/moni-szabi-cover--landscape.jpg);
        height: 75vw;  
    }
}

.date {
    margin: 2em 1.5em;
}

.date__headline {
    margin-bottom: .5em;
}

.rsvp {
    background-color: $color-dark;
    color: $color-light;
    margin: 0 1.5rem 2.5rem 0;
    padding: 2em 1.5em;
}

.rsvp__headline, .dress-code__headline, .gift__headline, .schedule__headline {
    margin-bottom: 1.5rem;
}

.rsvp__desc {
    margin-bottom: 1.5rem;

}

.dress-code, .gift, .photos {
    padding: 0 1.5em;
    margin-bottom: 2.5rem;
}

.schedule {
    background-color: $color-dark;
    color: $color-light;
    padding: 2em 0;
    margin-bottom: 2.5rem;
}

.schedule__headline {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.schedule__row {
    margin: 0 1.5rem;
}

.schedule__first {
    margin-bottom: 2rem;
}

.schedule__flag { 
    position: relative;
    margin-bottom: 1.5rem;
}

.schedule__media {
    width: 82.5%
}

.schedule__info {
    // transform-origin: top right;
    display: inline-block;
    transform: rotate(90deg);
    white-space: nowrap;
    float: right;
    width: 17.5%;
    font-style: normal;
}

.schedule__second {
    text-align: right;

    & .schedule__info {
        float: left;
        transform: rotate(90deg);
    }
}


